<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frrahat.quransimple"
    android:versionCode="160"
    android:versionName="1.6.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".SuraListActivity"
            android:label="@string/title_activity_sura_list" >
        </activity>
        <activity
            android:name=".InfoActivity"
            android:label="@string/title_activity_info" >
        </activity>
        <activity
            android:name=".AdditTextActivity"
            android:label="@string/title_activity_addit_text" >
        </activity>
        <activity
            android:name=".FileItemEditActivity"
            android:label="@string/title_activity_file_item_edit"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name=".BookmarkDisplayActivity"
            android:label="@string/title_activity_bookmark_display" >
        </activity>
        <activity
            android:name=".BookmarkEditActivity"
            android:label="@string/title_activity_bookmark_edit"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".FontSettingActivity"
            android:label="@string/title_activity_font_setting" >
        </activity>
        <activity
            android:name=".FontListActivity"
            android:label="@string/title_activity_font_list" >
        </activity>
        <activity
            android:name=".CopyTextActivity"
            android:label="@string/title_activity_copy_text" >
        </activity>
    </application>

</manifest>
